/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
    max-width: 100%;
}

body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    display: flex;
}

html {
    font-size: 62.5%;
}

h1, h2, h3, h4, h5 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.header {
    display: flex;
    flex-wrap: wrap;
}

.header-img-logo {
    margin-top: 7%;
    margin-bottom: 1%;
    width: 20%;
}

.header-div {
    width: 80%;
    margin-top: 7%;
    margin-bottom: 0%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.header-nav {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    
}

.header-nav a {
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1%;
    margin: 1%;
}

.header-img-banner {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 3%;
}

.container {
    width: 800px;
    margin: 0 auto;
    justify-content: center;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container1 {
    width: 48%;
    font-size: 1.5rem;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-top: 20px;
    margin: 1%;
    border-bottom: 1px dashed black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.middle-content h2 {
    width: 100%;
    font-size: 2.5rem;
    margin-bottom: 1%;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.boxes div {
    margin: 2%;
    font-size: 1.5rem;
    width: 13.5%;
    color: white;
    padding: 5% 3% 5% 3%;
}

.box1 {
    background-color: teal;
}
.box2 {
    background-color: gold;
}
.box3 {
    background-color: cadetblue;
}
.box4 {
    background-color: coral;
}
.box5 {
    background-color: crimson;
}
.box6 {
    background-color: forestgreen;
}
.box7 {
    background-color: darkorchid;
}
.box8 {
    background-color: hotpink;
}
.box9 {
    background-color: indigo;
}
.box10 {
    background-color: dodgerblue;
} 

.box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9, .box10 {
    min-width: 5rem;
    min-height: 5rem;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container2 {
    padding-right: 4%;
    font-size: 1.5rem;
}

.bottom-content .text-container2:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
    display: flex;
    justify-content: left;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 2%;
    font-size: 1.4rem;
}

footer nav a {
    color: white;
    text-decoration: none;
}

@media (max-width: 800px) {
    .top-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 100%;
    }
    .text-container1 {
        min-width: 100%;
    }
    .text-container1 h2 {
        margin-left: 5%;
        margin-right: 5%;
        font-size: 3rem;
    }
    .text-container1 p {
        margin-left: 5%;
        margin-right: 5%;
        font-size: 2rem;
    }
    .middle-content {
        display: flex;
        flex-wrap: wrap;
    }
    .boxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .boxes div {
        padding-top: 20%;
        padding-bottom: 20%;
    }
    .box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9, .box10 {
        min-width: 23rem;
        min-height: 23rem;
        text-align: center;
    }
    
    /*  T R B L */

    .bottom-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
    }
    .text-container2 {
        width: 40%;
    }
    footer {
        justify-content: center;
    }
        
}


@media (max-width: 500px) {

    .header {
        display: flex;
        flex-direction: column;
        max-width: 100%
    }
    .header-img-logo {
        margin: 3%;
        width: 100%;
        padding: 0% 30% 0 30%;
    }
    .header-div {
        display: flex;
        margin: 1%;
        width: 100%;
        justify-content: center;
    }
    .header-nav {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        width: 100%;
    }
    .header-nav div {
        text-align: center;
        width: 100%;
        margin: 1%;
    }
    .header-nav div a {
        font-size: 2.5rem;
        color: black;
    }
    .header-img-banner {
        margin: 1%;
        width: 100%;
    }
    .top-content {
        width: 100%;
    }
    .text-container1 {
        width: 100%;
    }
    .text-container1 h2 {
        margin-left: 5%;
        margin-right: 5%;
        font-size: 3rem;
    }
    .text-container1 p {
        margin-left: 5%;
        margin-right: 5%;
        font-size: 2rem;
    }
    .middle-content {
        display: flex;
        border: none;
    }
    .middle-content h2 {
        text-align: center;
    }
    .boxes div {
        padding-top: 50%;
        padding-bottom: 40%;
        margin: 3%;
    }
    .bottom-content {
        width: 100%
    }
    .text-container2 {
        width: 100%;
    }
    .text-container2 h2 {
        margin-left: 5%;
        margin-right: 5%;
        font-size: 3rem;
    }
    .text-container2 p {
        margin-left: 5%;
        margin-right: 5%;
        font-size: 2rem;
    }
    .middle-content {
        display: flex;
    }
    .boxes {
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .contact {
        width: 100%;
        display: flex;
    }
    .bottom-nav {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .bottom-nav div {
        font-size: 2.5rem;
        margin: .5%;
    }
}